<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Biblioteca - Aluno</title>
    </h:head>
    <h:body>
        <h:form id="menu">
            <!-- Aqui comeca o menu inicial -->        
            <p:menubar>
                <p:menuitem value="Inicio" url="index.xhtml" icon="ui-icon-document" />              
                <p:submenu label="Cadastros" icon="ui-icon-pencil">   
                    <p:submenu label="Usuarios">
                        <p:menuitem value="Aluno" url="cadAluno.xhtml" />
                        <p:menuitem value="Funcionario" url="cadFuncionario.xhtml" />                      
                    </p:submenu>
                    <p:menuitem value="Autor" url="cadAutor.xhtml" />
                    <p:menuitem value="Emprestimo" url="cadEmprestimo.xhtml" />
                    <p:menuitem value="Livro" url="cadLivro.xhtml" />
                    <p:menuitem value="Multa" url="cadMulta.xhtml" />
                    <p:menuitem value="Reserva" url="cadReserva.xhtml" />
                </p:submenu>
                <p:submenu label="Relatorios" icon="ui-icon-help">
                    <p:menuitem value="Relatorio 1" url="relatorio1.xhtml" />
                    <p:menuitem value="Relatorio 2" url="relatorio2.xhtml" />
                    <p:menuitem value="Relatorio 3" url="relatorio3.xhtml" />
                    <p:menuitem value="Relatorio 4" url="relatorio4.xhtml" />
                    <p:menuitem value="Relatorio 5" url="relatorio5.xhtml" />
                </p:submenu>
                <f:facet name="options">
                    <p:commandButton type="button" value="Sair" icon="ui-icon-extlink" />
                </f:facet>
            </p:menubar>
        </h:form>
        <!-- Form para cadastro -->
        <h:form id="formCadastrar" >
            <p:growl id="growl" life="2000" />      
            <p:panel id="panel2" header="Cadastrar Aluno" style="margin-bottom:10px;">
                <h:panelGrid columns="2" cellpadding="5">
                    <p:outputLabel for="nome" value="Nome:" />
                    <p:inputText id="nome" value="#{alunoMB.user.nome}" />
                    <p:outputLabel for="cpf" value="CPF" />
                    <p:inputText id="cpf" value="#{alunoMB.user.cpf}" />
                    <p:outputLabel for="senha" value="Senha" />
                    <p:inputText id="senha" value="#{alunoMB.user.senha}" />
                    <p:outputLabel for="idade" value="Idade" />
                    <p:inputText id="idade"  value="#{alunoMB.user.idade}" />
                    <p:outputLabel for="curso" value="Curso" />
                    <p:inputText id="curso"  value="#{alunoMB.aluno.curso}" />
                    <p:outputLabel for="matricula" value="Matricula" />
                    <p:inputText id="matricula"  value="#{alunoMB.aluno.matricula}" />
                    <p:outputLabel for="anoadm" value="Ano de entrada" />
                    <p:inputText id="anoadm" value="#{alunoMB.aluno.anoAdm}" />
                </h:panelGrid>
                <p:commandButton value="Cadastrar"
                                 actionListener="#{alunoMB.cadastrar}"
                                 update="growl :formPrincipal:table :formCadastrar:panel2 " 
                                 oncomplete="handleCadastrarRequest(xhr, status, args)" > 
                </p:commandButton>
            </p:panel>
        </h:form>

        <!-- Formulario Principal -->
        <h:form id="formPrincipal"> 
            <p:panel id="panel" header="Alunos Cadastrados" style="margin-bottom:10px;">
                <br />
                <br />
                <p:dataTable var="aluno" value="#{alunoMB.listAluno}" id="table">
                    <p:column  headerText="ID" >
                        <h:outputText value="#{aluno.idAluno}" />
                    </p:column>
                    <p:column  headerText="Nome" >
                        <h:outputText value="#{aluno.usuarioidUsuario.nome}" />
                    </p:column>
                    <p:column  headerText="CPF" >
                        <h:outputText value="#{aluno.usuarioidUsuario.cpf}" />
                    </p:column>
                    <p:column  headerText="Senha" >
                        <h:outputText value="#{aluno.usuarioidUsuario.senha}" />
                    </p:column>
                    <p:column  headerText="Idade" >
                        <h:outputText value="#{aluno.usuarioidUsuario.idade}" />
                    </p:column>
                    <p:column  headerText="Curso" >
                        <h:outputText value="#{aluno.curso}" />
                    </p:column>
                    <p:column  headerText="Matricula" >
                        <h:outputText value="#{aluno.matricula}" />
                    </p:column>
                    <p:column  headerText="Ano de entrada" >
                        <h:outputText value="#{aluno.anoAdm}" />
                    </p:column>
                </p:dataTable>
                <p:poll interval="3" update="table" listener="#{alunoMB.atualizarAlunos()}"/>
            </p:panel>
        </h:form>        
        <script type="text/javascript">
            function handleCadastrarRequest(xhr, status, args) {
                if (args.validationFailed || !args.loggedIn) {
                    PF('dialogCadastrar').jq.effect("shake", {times: 0}, 0);
                } else {
                    PF('dialogCadastrar').hide();
                }
            }
        </script>        
    </h:body>
</html>
