<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Biblioteca - Autor</title>
    </h:head>
    <h:body>
        <h:form id="menu">
            <!-- Aqui comeca o menu inicial -->        
            <p:menubar>
                <p:menuitem value="Inicio" url="index.xhtml" icon="ui-icon-document" />              
                <p:submenu label="Cadastros" icon="ui-icon-pencil">                       
                    <p:submenu label="Usuarios">
                        <p:menuitem value="Aluno" url="cadAluno.xhtml" />
                        <p:menuitem value="Funcionario" url="cadFuncionario.xhtml" />                      
                    </p:submenu>
                    <p:menuitem value="Autor" url="cadAutor.xhtml" />
                    <p:menuitem value="Emprestimo" url="cadEmprestimo.xhtml" />
                    <p:menuitem value="Livro" url="cadLivro.xhtml" />
                    <p:menuitem value="Multa" url="cadMulta.xhtml" />
                    <p:menuitem value="Reserva" url="cadReserva.xhtml" />
                </p:submenu>
                <p:submenu label="Relatorios" icon="ui-icon-help">
                    <p:menuitem value="Relatorio 1" url="relatorio1.xhtml" />
                    <p:menuitem value="Relatorio 2" url="relatorio2.xhtml" />
                    <p:menuitem value="Relatorio 3" url="relatorio3.xhtml" />
                    <p:menuitem value="Relatorio 4" url="relatorio4.xhtml" />
                    <p:menuitem value="Relatorio 5" url="relatorio5.xhtml" />
                </p:submenu>
                <f:facet name="options">
                    <p:commandButton type="button" value="Sair" icon="ui-icon-extlink" />
                </f:facet>
            </p:menubar>
        </h:form>

        <!-- Formulario Principal -->
        <h:form id="formPrincipal"> 
            <p:panel id="panel" header="Autores Cadastrados" style="margin-bottom:10px;">
                <p:commandButton value="Cadastrar Novo Autor"  id="cadastrar" oncomplete="PF('dialogCadastrar').show();"  actionListener="#{autorMB.novoAutor()}"/>
                <br />
                <br />
                <p:dataTable var="autor" value="#{autorMB.listAutor}" id="table">
                    <p:column  headerText="ID" >
                        <h:outputText value="#{autor.idAutor}" />
                    </p:column>
                    <p:column  headerText="Nome" >
                        <h:outputText value="#{autor.nome}" />
                    </p:column>
                    <p:column  headerText="Nacionalidade" >
                        <h:outputText value="#{autor.nacionalidade}" />
                    </p:column>
                    <p:column >
                        <p:commandButton value="Editar" update=":formAlterar:Alterar" oncomplete="PF('dialogAlterar').show();" immediate="true" >
                            <f:setPropertyActionListener target="#{autorMB.autor}"
                                                         value="#{autor}" />
                        </p:commandButton> 
                        <p:commandButton value="Excluir" update=":formExcluir:Excluir" oncomplete="PF('dialogExcluir').show();" immediate="true" >
                            <f:setPropertyActionListener target="#{autorMB.autor}"
                                                         value="#{autor}" />
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
            </p:panel>
        </h:form>        
        <!-- Modal para cadastro -->
        <h:form id="formCadastrar" >
            <p:growl id="growl" life="2000" />      
            <p:dialog header="Cadastrar Autor" modal="true" widgetVar="dialogCadastrar" resizable="false" >
                <h:panelGrid columns="2" cellpadding="5">
                    <p:outputLabel for="nome" value="Nome:" />
                    <p:inputText id="nome" required="true" value="#{autorMB.autor.nome}" />
                    <p:outputLabel for="nac" value="Nacionaliade:" />
                    <p:inputText id="nac" required="true" value="#{autorMB.autor.nacionalidade}" />
                </h:panelGrid>
                <p:commandButton value="Cadastrar"
                                 actionListener="#{autorMB.cadastrar}"
                                 update="growl :formPrincipal:table" 
                                 oncomplete="handleCadastrarRequest(xhr, status, args)" > 
                </p:commandButton>
            </p:dialog>
        </h:form>
        <script type="text/javascript">
            function handleCadastrarRequest(xhr, status, args) {
                if (args.validationFailed || !args.loggedIn) {
                    PF('dialogCadastrar').jq.effect("shake", {times: 0}, 0);
                } else {
                    PF('dialogCadastrar').hide();
                }
            }
        </script>        
        <!-- Modal para alterar cadastro -->
        <h:form id="formAlterar">
            <p:growl id="growl2" life="2000" />      
            <p:dialog header="Alterar Autor" widgetVar="dialogAlterar" modal="true" id="Alterar">
                <h:panelGrid columns="2" cellpadding="5">
                    <p:outputLabel for="nome" value="Nome:" />
                    <p:inputText id="nome" required="true" value="#{autorMB.autor.nome}" />
                    <p:outputLabel for="nac" value="Nacionaliade:" />
                    <p:inputText id="nac" required="true" value="#{autorMB.autor.nacionalidade}" />
                </h:panelGrid>
                <p:commandButton value="Alterar"
                                 actionListener="#{autorMB.alterar}"
                                 update="growl2 :formPrincipal:table" 
                                 oncomplete="handleAlterarRequest(xhr, status, args)" > 
                </p:commandButton>
            </p:dialog>
        </h:form>
        <script type="text/javascript">
            function handleAlterarRequest(xhr, status, args) {
                if (args.validationFailed || !args.loggedIn) {
                    PF('dialogAlterar').jq.effect("shake", {times: 0}, 0);
                } else {
                    PF('dialogAlterar').hide();
                }
            }
        </script>        
        <!-- confirmacao para excluir -->
        <h:form id="formExcluir">
            <p:confirmDialog id="Excluir"
                             message="Você tem certeza de Deletar o autor: #{autorMB.autor.nome}?"
                             header="Excluir" severity="alert" widgetVar="dialogExcluir">
                <p:commandButton id="confirm" value="Sim"
                                 oncomplete="PF('dialogExcluir').hide();"
                                 actionListener="#{autorMB.excluir}"
                                 update=":formPrincipal:table" />
                <p:commandButton id="decline" value="Não"
                                 oncomplete="PF('dialogExcluir').hide();"
                                 update=" :formPrincipal:table" />
            </p:confirmDialog>
        </h:form>

    </h:body>
</html>
