<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Biblioteca - Emprestimo</title>
    </h:head>
    <h:body>
        <h:form id="menu">
            <!-- Aqui comeca o menu inicial -->        
            <p:menubar>
                <p:menuitem value="Inicio" url="index.xhtml" icon="ui-icon-document" />              
                <p:submenu label="Cadastros" icon="ui-icon-pencil">   
                    <p:submenu label="Usuarios">
                        <p:menuitem value="Aluno" url="cadAluno.xhtml" />
                        <p:menuitem value="Funcionario" url="cadFuncionario.xhtml" />                      
                    </p:submenu>
                    <p:menuitem value="Autor" url="cadAutor.xhtml" />
                    <p:menuitem value="Emprestimo" url="cadEmprestimo.xhtml" />
                    <p:menuitem value="Livro" url="cadLivro.xhtml" />
                    <p:menuitem value="Multa" url="cadMulta.xhtml" />
                    <p:menuitem value="Reserva" url="cadReserva.xhtml" />
                </p:submenu>
                <p:submenu label="Relatorios" icon="ui-icon-help">
                    <p:menuitem value="Relatorio 1" url="relatorio1.xhtml" />
                    <p:menuitem value="Relatorio 2" url="relatorio2.xhtml" />
                    <p:menuitem value="Relatorio 3" url="relatorio3.xhtml" />
                    <p:menuitem value="Relatorio 4" url="relatorio4.xhtml" />
                    <p:menuitem value="Relatorio 5" url="relatorio5.xhtml" />
                </p:submenu>
                <f:facet name="options">
                    <p:commandButton type="button" value="Sair" icon="ui-icon-extlink" />
                </f:facet>
            </p:menubar>          
        </h:form>
        <h:form id="formNovoLivro" >
            <p:panel id="panel2" header="Cadastrar Emprestimo" style="margin-bottom:10px;">
                <h:panelGrid id="pannel" columns="2"  cellpadding="5">
                    <h:outputLabel value="Data da retirada:" for="dataR"/>
                    <h:inputText id="dataR" value="#{novoEmprestimo.novoEm.dataRetirada}" required="true"/>
                    <p:outputLabel value="Data limite para devolução:" for="dataLD"/>
                    <p:inputText id="dataLD" required="true" value="#{novoEmprestimo.novoEm.dataLimiteDevolucao}" />
                    <p:outputLabel value="Usuário:" for="usuario"/>
                    <p:commandButton id="usuario"  value="Buscar Usuário" update=":formTUsuarios:classTAlunos" 
                                     icon="ui-icon-search" oncomplete="PF('classDialogAlunos').show()"/>
                    <p:outputLabel value="Livro:" for="livroE"/>
                    <p:commandButton id="livroE" value="Buscar Livro" update=":formTLivros:classTLivros" 
                                     icon="ui-icon-search" oncomplete="PF('classDialogLivros').show()"/>
                </h:panelGrid>
                <p:commandButton value="Salvar" action="#{novoEmprestimo.salvarEmprestimo()}"/>
            </p:panel>
        </h:form>

        <h:form>
            <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
        </h:form>

        <h:form id="formTUsuarios">
            <p:dialog header="Usuários" widgetVar="classDialogAlunos" id="dialogTodosALunos">
                <p:outputPanel id="classTAlunos" style="text-align:center;">
                    <p:dataTable id="dataTableAlunos"  value="#{novoEmprestimo.usuarios}" selection="#{novoEmprestimo.usuarioSelecionado}" 
                                 selectionMode="single" var="usuario" rowKey="#{usuario.idUsuario}" style="margin-bottom:0">
                        <p:column headerText="Nome">
                            <h:outputText value="#{usuario.nome}" />
                        </p:column>
                        <p:column headerText="CPF">
                            <h:outputText value="#{aluno.usuarioidUsuario.cpf}" />
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton  update=":formTUsuarios" icon="ui-icon-search" value="Selecionar"/>
                        </f:facet>
                    </p:dataTable>
                </p:outputPanel>
            </p:dialog>
        </h:form>

        <h:form id="formTLivros">
            <p:dialog header="Livros" widgetVar="classDialogLivros" id="dialogTodosLivros">
                <p:outputPanel id="classTLivros" style="text-align:center;">
                    <p:dataTable id="dataTableLivros"  value="#{novoEmprestimo.livros}" selection="#{novoEmprestimo.livroSelecionado}" 
                                 selectionMode="single" var="livro" rowKey="#{livro.idLivro}" style="margin-bottom:0">
                        <p:column headerText="Título">
                            <h:outputText value="#{livro.titulo}" />
                        </p:column>
                        <p:column headerText="Area">
                            <h:outputText value="#{livro.area}" />
                        </p:column>
                        <p:column headerText="Id">
                            <h:outputText value="#{livro.idLivro}" />
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton  update=":formTLivros" icon="ui-icon-search" value="Selecionar"/>
                        </f:facet>
                    </p:dataTable>
                </p:outputPanel>
            </p:dialog>
        </h:form>
        
        <h:form id="formPrincipal"> 
            <p:panel id="panel" header="Emprestimos Cadastrados" style="margin-bottom:10px;">
                <p:dataTable var="emprestimo" value="#{novoEmprestimo.emprestimos}" id="table">
                    <p:column  headerText="ID" >
                        <h:outputText value="#{emprestimo.idEmprestimo}" />
                    </p:column>
                    <p:column  headerText="Data Retirada" >
                        <h:outputText value="#{emprestimo.dataRetirada}" />
                    </p:column>
                    <p:column  headerText="Data Limite" >
                        <h:outputText value="#{emprestimo.dataLimiteDevolucao}" />
                    </p:column>
                    <p:column  headerText="Usuario" >
                        <h:outputText value="#{emprestimo.usuarioidUsuario.nome}" />
                    </p:column>
                    <p:column  headerText="Livro" >
                        <h:outputText value="#{emprestimo.livroidLivro.titulo}" />
                    </p:column>
                    <p:column  headerText="Ações">
                        <p:commandButton value="Excluir" action="#{novoEmprestimo.excluirEmprestimo()}">
                            <f:setPropertyActionListener target="#{novoEmprestimo.excEmprestimo}"
                                                         value="#{emprestimo}"/>
                        </p:commandButton>
                        <p:commandButton value="Editar" update=":formNovoLivro:panel2" action="#{novoEmprestimo.defEmprestimo()}">
                            <f:setPropertyActionListener target="#{novoEmprestimo.novoEm}"
                                                         value="#{emprestimo}"/>
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
            </p:panel>
            <p:poll interval="3" update="table" listener="#{novoEmprestimo.buscarEmprestimos()}"/>
        </h:form>        

    </h:body>
</html>