<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Biblioteca - Livro</title>
    </h:head>
    <h:body>
        <h:form id="menu">
            <!-- Aqui comeca o menu inicial -->        
            <p:menubar>
                <p:menuitem value="Inicio" url="index.xhtml" icon="ui-icon-document" />              
                <p:submenu label="Cadastros" icon="ui-icon-pencil">   
                    <p:submenu label="Usuarios">
                        <p:menuitem value="Aluno" url="cadAluno.xhtml" />
                        <p:menuitem value="Funcionario" url="cadFuncionario.xhtml" />                      
                    </p:submenu>
                    <p:menuitem value="Autor" url="cadAutor.xhtml" />
                    <p:menuitem value="Emprestimo" url="cadEmprestimo.xhtml" />
                    <p:menuitem value="Livro" url="cadLivro.xhtml" />
                    <p:menuitem value="Multa" url="cadMulta.xhtml" />
                    <p:menuitem value="Reserva" url="cadReserva.xhtml" />
                </p:submenu>
                <p:submenu label="Relatorios" icon="ui-icon-help">
                    <p:menuitem value="Relatorio 1" url="relatorio1.xhtml" />
                    <p:menuitem value="Relatorio 2" url="relatorio2.xhtml" />
                    <p:menuitem value="Relatorio 3" url="relatorio3.xhtml" />
                    <p:menuitem value="Relatorio 4" url="relatorio4.xhtml" />
                    <p:menuitem value="Relatorio 5" url="relatorio5.xhtml" />
                </p:submenu>
                <f:facet name="options">
                    <p:commandButton type="button" value="Sair" icon="ui-icon-extlink" />
                </f:facet>
            </p:menubar>
        </h:form>

        <h:form id="formCadLivro">
            <p:panel id="panel2" header="Cadastrar Livro" style="margin-bottom:10px;">
                <h:panelGrid id="pannel" columns="2"  cellpadding="5">
                    <p:outputLabel value="Título:" for="titulo"/>
                    <p:inputText id="titulo" required="true" value="#{cadLivroB.livro.titulo}" />
                    <p:outputLabel value="Área:" for="area"/>
                    <p:inputText id="area" value="#{cadLivroB.livro.area}" />
                    <p:outputLabel value="Disponibilidade" for="disponibilidade"/>
                    <p:selectOneRadio id="disponibilidade" value="#{cadLivroB.disponibilidade}">
                        <f:selectItem itemLabel="Dispoível" itemValue="1" />
                        <f:selectItem itemLabel="Indisponível" itemValue="0" />
                    </p:selectOneRadio>
                    <p:commandButton value="Criar Autor" update=":formDialogNovoAutor:classDetalhes" 
                                     icon="ui-icon-search" oncomplete="PF('classNAutor').show()"/>
                    <p:commandButton value="Buscar Autores" update=":formDialogTodosAutores:classTAutores" 
                                     icon="ui-icon-search" oncomplete="PF('classDialog').show()"/>
                </h:panelGrid>
                <p:commandButton value="Salvar" update="panel2" title="Adicionar livro a biblioteca" action="#{cadLivroB.addLivro()}"/>
            </p:panel>
        </h:form>

        <h:form>
            <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
        </h:form>

        <h:form id="formDTAutores">
            <p:dataTable id="dataTableAutoresLivro"  value="#{cadLivroB.autores}" selection="#{cadLivroB.autorSelecionado}" 
                         selectionMode="single" var="autor" rowKey="#{autor.idAutor}" style="margin-bottom:0">
                <f:facet name="header">
                    Autores do livro
                </f:facet>
                <p:column headerText="Nome">
                    <h:outputText value="#{autor.nome}" />
                </p:column>
                <f:facet name="footer">
                    <p:commandButton  update=":formDTAutores" icon="ui-icon-search" value="Excluir" action="#{cadLivroB.excluirAutor()}"/>
                </f:facet>
            </p:dataTable>
            <p:poll interval="1" update="dataTableAutoresLivro"/>
        </h:form>

        <h:form id="formDTLivros">
            <p:dataTable id="dataTableLivros"  value="#{cadLivroB.livros}" var="livro" style="margin-bottom:0">
                <f:facet name="header">
                    Livros
                </f:facet>
                <p:column headerText="Título">
                    <h:outputText value="#{livro.titulo}" />
                </p:column>
                <p:column headerText="Area">
                    <h:outputText value="#{livro.area}" />
                </p:column>
                <p:column headerText="Ações">
                    <p:commandButton value="Excluir" action="#{cadLivroB.excluirLivro()}">
                        <f:setPropertyActionListener target="#{cadLivroB.excLivro}"
                                                     value="#{livro}"/>
                    </p:commandButton>
                    <p:commandButton value="Editar" update=":formCadLivro:panel2" action="#{cadLivroB.defLivro()}">
                        <f:setPropertyActionListener target="#{cadLivroB.livro}"
                                                     value="#{livro}"/>
                    </p:commandButton>
                </p:column>
            </p:dataTable>
            <p:poll interval="3" update="dataTableLivros" listener="#{cadLivroB.buscarLivros()}"/>
        </h:form>


        <h:form id="formDialogNovoAutor">
            <p:dialog header="Novo Autor" widgetVar="classNAutor" id="dialog">
                <p:outputPanel id="classDetalhes" style="text-align:center;">
                    <p:panelGrid id="pannel" columns="2" columnClasses="ui-grid-col-2,ui-grid-col-10" style="font-size: 12px;">
                        <p:outputLabel value="Nome:" for="nomeAutor"/>
                        <p:inputText id="nomeAutor" required="true" value="#{cadLivroB.novoAutor.nome}" />
                        <p:outputLabel value="Nacionalidade:" for="nascAutor"/>
                        <p:inputText id="nascAutor" value="#{cadLivroB.novoAutor.nacionalidade}" />
                        <p:outputLabel value=""/>
                        <p:commandButton value="Criar" ajax="true" onclick="classDialog.hide()" 
                                         icon="ui-icon-disk" title="criar" action="#{cadLivroB.criarAutor()}"/>
                    </p:panelGrid>
                </p:outputPanel>
            </p:dialog>    
        </h:form>


        <h:form id="formDialogTodosAutores">
            <p:dialog header="Autores Cadastrados" widgetVar="classDialog" id="dialogTodosAutores">
                <p:outputPanel id="classTAutores" style="text-align:center;">
                    <p:dataTable id="todosAutoresDT" var="tAutor" value="#{cadLivroB.todosAutores}" selection="#{cadLivroB.autoresSelecionados}" rowKey="#{tAutor.idAutor}" style="margin-bottom:0">
                        <f:facet name="header">
                            Selecione os autores do livro
                        </f:facet>
                        <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                        <p:column headerText="Nome:">
                            <h:outputText value="#{tAutor.nome}" />
                        </p:column>
                        <p:column headerText="Nacionalidade">
                            <h:outputText value="#{tAutor.nacionalidade}" />
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton onclick="classDialog.hide()" icon="ui-icon-search" 
                                             value="Adicionar autores" action="#{cadLivroB.definirAutores()}" />
                        </f:facet>
                    </p:dataTable>
                </p:outputPanel>
            </p:dialog>    
        </h:form>

    </h:body>
</html>