<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Biblioteca - Multas</title>
    </h:head>
    <h:body>
        <h:form id="menu">
            <!-- Aqui comeca o menu inicial -->        
            <p:menubar>
                <p:menuitem value="Inicio" url="index.xhtml" icon="ui-icon-document" />              
                <p:submenu label="Cadastros" icon="ui-icon-pencil">                       
                    <p:submenu label="Usuarios">
                        <p:menuitem value="Aluno" url="cadAluno.xhtml" />
                        <p:menuitem value="Funcionario" url="cadFuncionario.xhtml" />                      
                    </p:submenu>
                    <p:menuitem value="Autor" url="cadAutor.xhtml" />
                    <p:menuitem value="Emprestimo" url="cadEmprestimo.xhtml" />
                    <p:menuitem value="Livro" url="cadLivro.xhtml" />
                    <p:menuitem value="Multa" url="cadMulta.xhtml" />
                    <p:menuitem value="Reserva" url="cadReserva.xhtml" />
                </p:submenu>
                <p:submenu label="Relatorios" icon="ui-icon-help">
                    <p:menuitem value="Relatorio 1" url="relatorio1.xhtml" />
                    <p:menuitem value="Relatorio 2" url="relatorio2.xhtml" />
                    <p:menuitem value="Relatorio 3" url="relatorio3.xhtml" />
                    <p:menuitem value="Relatorio 4" url="relatorio4.xhtml" />
                    <p:menuitem value="Relatorio 5" url="relatorio5.xhtml" />
                </p:submenu>
                <f:facet name="options">
                    <p:commandButton type="button" value="Sair" icon="ui-icon-extlink" />
                </f:facet>
            </p:menubar>
        </h:form>
        <h:form id="formMulta">
            <p:panel id="panel2" header="Cadastrar Multa" style="margin-bottom:10px;">
                <h:panelGrid columns="2"  cellpadding="5">
                    <p:outputLabel for="emp" value="Emprestimo: " />
                    <p:commandButton id="emp" value="Buscar Emprestimo" update=":formTLivros:classTLivros" 
                                     icon="ui-icon-search" oncomplete="PF('classDialogLivros').show()"/>
                    <p:outputLabel for="dias" value="Dias de Atraso: " />
                    <p:inputText id="dias" required="true" value="#{cadMultaB.multa.diasAtraso}" />               
                    <p:outputLabel for="valor" value="Valor: " />                    
                    <p:inputText id="valor" required="true" value="#{cadMultaB.multa.valor}" />  
                    <p:outputLabel value=""/>
                    <p:commandButton value="Salvar" action="#{cadMultaB.cadastrar}" update="panel2"/>
                </h:panelGrid>
            </p:panel>
        </h:form>

        <h:form>
            <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
        </h:form>


        <h:form id="formTLivros">
            <p:dialog header="Emprestimos" widgetVar="classDialogLivros" id="dialogTodosLivros">
                <p:outputPanel id="classTLivros" style="text-align:center;">
                    <p:dataTable id="dataTableLivros"  value="#{cadMultaB.emprestimos}" selection="#{cadMultaB.emprestimoSelecionado}" 
                                 selectionMode="single" var="emprestimo" rowKey="#{emprestimo.idEmprestimo}" style="margin-bottom:0">
                        <p:column headerText="Usuario">
                            <h:outputText value="#{emprestimo.usuarioidUsuario.nome}" />
                        </p:column>
                        <p:column headerText="Livro">
                            <h:outputText value="#{emprestimo.livroidLivro.titulo}" />
                        </p:column>
                        <p:column headerText="Data Retirada">
                            <h:outputText value="#{emprestimo.dataRetirada}" />
                        </p:column>
                        <p:column headerText="Data limite de devolução">
                            <h:outputText value="#{emprestimo.dataLimiteDevolucao}" />
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton  update=":formTLivros" icon="ui-icon-search" value="Selecionar"/>
                        </f:facet>
                    </p:dataTable>
                </p:outputPanel>
            </p:dialog>
        </h:form>


        <!-- Formulario Principal -->
        <h:form id="formPrincipal"> 
            <p:panel id="panel" header="Multas Cadastradas" style="margin-bottom:10px;">
                <p:dataTable var="multa" value="#{cadMultaB.multas}" id="table">
                    <p:column  headerText="ID" >
                        <h:outputText value="#{multa.idMulta}" />
                    </p:column>
                    <p:column  headerText="Dias de Atraso" >
                        <h:outputText value="#{multa.diasAtraso}" />
                    </p:column>
                    <p:column  headerText="Valor" >
                        <h:outputText value="#{multa.valor}" />
                    </p:column>
                    <p:column  headerText="Id do Emprestimo" >
                        <h:outputText value="#{multa.emprestimoidEmprestimo.idEmprestimo}" />
                    </p:column>
                    <p:column  headerText="Usuario" >
                        <h:outputText value="#{multa.emprestimoidEmprestimo.usuarioidUsuario.nome}" />
                    </p:column>
                    <p:column headerText="Ações">
                        <p:commandButton value="Excluir" action="#{cadMultaB.excluirMulta()}">
                            <f:setPropertyActionListener target="#{cadMultaB.exMulta}"
                                                         value="#{multa}"/>
                        </p:commandButton>
                        <p:commandButton value="Editar" update=":formMulta:panel2" action="#{cadMultaB.defMulta()}">
                            <f:setPropertyActionListener target="#{cadMultaB.multa}"
                                                         value="#{multa}"/>
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
            </p:panel>
            <p:poll interval="3" update="table" listener="#{cadMultaB.buscarMultas()}"/>
        </h:form>        
    </h:body>
</html>
