<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Biblioteca - Reserva</title>
    </h:head>
    <h:body>
        <h:form id="menu">
            <!-- Aqui comeca o menu inicial -->        
            <p:menubar>
                <p:menuitem value="Inicio" url="index.xhtml" icon="ui-icon-document" />              
                <p:submenu label="Cadastros" icon="ui-icon-pencil">   
                    <p:submenu label="Usuarios">
                        <p:menuitem value="Aluno" url="cadAluno.xhtml" />
                        <p:menuitem value="Funcionario" url="cadFuncionario.xhtml" />                      
                    </p:submenu>
                    <p:menuitem value="Autor" url="cadAutor.xhtml" />
                    <p:menuitem value="Emprestimo" url="cadEmprestimo.xhtml" />
                    <p:menuitem value="Livro" url="cadLivro.xhtml" />
                    <p:menuitem value="Multa" url="cadMulta.xhtml" />
                    <p:menuitem value="Reserva" url="cadReserva.xhtml" />
                </p:submenu>
                <p:submenu label="Relatorios" icon="ui-icon-help">
                    <p:menuitem value="Relatorio 1" url="relatorio1.xhtml" />
                    <p:menuitem value="Relatorio 2" url="relatorio2.xhtml" />
                    <p:menuitem value="Relatorio 3" url="relatorio3.xhtml" />
                    <p:menuitem value="Relatorio 4" url="relatorio4.xhtml" />
                    <p:menuitem value="Relatorio 5" url="relatorio5.xhtml" />
                </p:submenu>
                <f:facet name="options">
                    <p:commandButton type="button" value="Sair" icon="ui-icon-extlink" />
                </f:facet>
            </p:menubar>
        </h:form>

        <h:form id="formCadastrar" >
            <p:panel id="panel2" header="Cadastrar Reserva" style="margin-bottom:10px;">
                <h:panelGrid columns="2"  cellpadding="5">
                    <p:outputLabel value="Livro:" for="livroE"/>
                    <p:commandButton id="livroE" value="Buscar Livro" update=":formTLivros:classTLivros" 
                                     icon="ui-icon-search" oncomplete="PF('classDialogLivros').show()"/>
                    <p:outputLabel for="dataReserva" value="Data Reserva" />
                    <p:inputText id="dataReserva" required="true" value="#{cadReservaB.reserva.dataReserva}" />    
                    <p:outputLabel for="dataPedido" value="Data Pedido" />
                    <p:inputText id="dataPedido" required="true" value="#{cadReservaB.reserva.dataPedido}" />
                    <p:outputLabel value="Usuario: " for="usuario" />
                    <p:commandButton id="usuario"  value="Buscar Usuário" update=":formTUsuarios:classTAlunos" 
                                     icon="ui-icon-search" oncomplete="PF('classDialogAlunos').show()"/>
                </h:panelGrid>
                <p:commandButton value="Salvar" action="#{cadReservaB.criarReserva()}"/>
            </p:panel>
        </h:form>

        <h:form>
            <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
        </h:form>

        <h:form id="formTUsuarios">
            <p:dialog header="Alunos" widgetVar="classDialogAlunos" id="dialogTodosALunos">
                <p:outputPanel id="classTAlunos" style="text-align:center;">
                    <p:dataTable id="dataTableAlunos"  value="#{cadReservaB.usuarios}" selection="#{cadReservaB.usuarioSelecionado}" 
                                 selectionMode="single" var="usuario" rowKey="#{usuario.idUsuario}" style="margin-bottom:0">
                        <p:column headerText="Nome">
                            <h:outputText value="#{usuario.nome}" />
                        </p:column>
                        <p:column headerText="CPF">
                            <h:outputText value="#{usuario.cpf}" />
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton  update=":formTUsuarios" icon="ui-icon-search" value="Selecionar"/>
                        </f:facet>
                    </p:dataTable>
                </p:outputPanel>
            </p:dialog>
        </h:form>

        <h:form id="formTLivros">
            <p:dialog header="Livros" widgetVar="classDialogLivros" id="dialogTodosLivros">
                <p:outputPanel id="classTLivros" style="text-align:center;">
                    <p:dataTable id="dataTableLivros"  value="#{cadReservaB.livros}" selection="#{cadReservaB.livroSelecionado}" 
                                 selectionMode="single" var="livro" rowKey="#{livro.idLivro}" style="margin-bottom:0">
                        <p:column headerText="Título">
                            <h:outputText value="#{livro.titulo}" />
                        </p:column>
                        <p:column headerText="Area">
                            <h:outputText value="#{livro.area}" />
                        </p:column>
                        <p:column headerText="Id">
                            <h:outputText value="#{livro.idLivro}" />
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton  update=":formTLivros" icon="ui-icon-search" value="Selecionar"/>
                        </f:facet>
                    </p:dataTable>
                </p:outputPanel>
            </p:dialog>
        </h:form>

        <h:form id="formPrincipal"> 
            <p:panel id="panel" header="Reservas Cadastradas" style="margin-bottom:10px;">
                <p:dataTable var="reserva" value="#{cadReservaB.reservas}" id="table">
                    <p:column  headerText="ID" >
                        <h:outputText value="#{reserva.idReserva}" />
                    </p:column>
                    <p:column  headerText="Data Reserva" >
                        <h:outputText value="#{reserva.dataReserva}" />
                    </p:column>
                    <p:column  headerText="Data Pedido" >
                        <h:outputText value="#{reserva.dataPedido}" />
                    </p:column>
                    <p:column  headerText="Livro" >
                        <h:outputText value="#{reserva.livroidLivro.titulo}" />
                    </p:column>
                    <p:column  headerText="Usuario" >
                        <h:outputText value="#{reserva.usuarioidUsuario.nome}" />
                    </p:column>
                    <p:column  headerText="Ações">
                        <p:commandButton value="Excluir" action="#{cadReservaB.excluirReserva()}">
                            <f:setPropertyActionListener target="#{cadReservaB.excReserva}"
                                                         value="#{reserva}"/>
                        </p:commandButton>
                        <p:commandButton value="Editar" update=":formCadastrar:panel2" action="#{cadReservaB.defReserva()}">
                            <f:setPropertyActionListener target="#{cadReservaB.reserva}"
                                                         value="#{reserva}"/>
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
            </p:panel>
            <p:poll interval="3" update="table" listener="#{cadReservaB.atualizarReservas()}"/>
        </h:form>        
    </h:body>
</html>
