<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
       xmlns="http://www.w3.org/1999/xhtml"
       xmlns:f="http://java.sun.com/jsf/core"
       xmlns:h="http://java.sun.com/jsf/html" 
       xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>Biblioteca Online</title>
    </h:head>
    <h:body style="align-items: center">
            <div>
                <p:outputLabel style="font-size: 45px;" value="Acessar Biblioteca Online"/>
                <h:form id="login" >
                    <p:outputLabel style="color: white;font-size: 20px;" value="Fazer o login para acessar a biblioteca"/>
                    <h:panelGrid columns="2" cellpadding="5">
                        <h:outputLabel for="cpf" value="CPF:" style="font-size: 20px"/>
                        <p:inputText id="cpf" title="CPF" value="#{loginB.usuario.cpf}" tabindex="1" size="11" label="CPF:" />

                        <h:outputLabel for="senha" value="Senha:" style="font-size: 20px"/>
                        <p:password id="senha" title="senha" value="#{loginB.usuario.senha}" tabindex="2" size="50" label="Senha" />
                    </h:panelGrid>
                    <p:commandButton value="Entrar" title="Entrar" action="#{loginB.verificarUsuario()}" tabindex="3" style="width: 205px;"/>
                    <!--<p:commandButton value="Cadastre-se" title="Cadastrar-se" action="cadUsuario" tabindex="4" style="width: 205px;"/> -->
                </h:form>
                <h:form>
                    <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
                </h:form>
            </div>
    </h:body>
</html>

