<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Relatorio 3</title>
    </h:head>
    <h:body>
        <h:form id="menu">
            <!-- Aqui comeca o menu inicial -->        
            <p:menubar>
                <p:menuitem value="Inicio" url="index.xhtml" icon="ui-icon-document" />              
                <p:submenu label="Cadastros" icon="ui-icon-pencil">
                    <p:submenu label="Usuarios">
                        <p:menuitem value="Aluno" url="cadAluno.xhtml" />
                        <p:menuitem value="Funcionario" url="cadFuncionario.xhtml" />                      
                    </p:submenu>
                    <p:menuitem value="Autor" url="cadAutor.xhtml" />
                    <p:menuitem value="Emprestimo" url="cadEmprestimo.xhtml" />
                    <p:menuitem value="Livro" url="cadLivro.xhtml" />
                    <p:menuitem value="Multa" url="cadMulta.xhtml" />
                    <p:menuitem value="Reserva" url="cadReserva.xhtml"/>
                </p:submenu>
                <p:submenu label="Relatorios" icon="ui-icon-help">
                    <p:menuitem value="Relatorio 1" url="relatorio1.xhtml" />
                    <p:menuitem value="Relatorio 2" url="relatorio2.xhtml" />
                    <p:menuitem value="Relatorio 3" url="relatorio3.xhtml" />
                    <p:menuitem value="Relatorio 4" url="relatorio4.xhtml" />
                    <p:menuitem value="Relatorio 5" url="relatorio5.xhtml" />
                </p:submenu>
                <f:facet name="options">
                    <p:commandButton type="button" value="Sair" icon="ui-icon-extlink" />
                </f:facet>
            </p:menubar>
        </h:form>

        <!-- Formulario Principal -->
        <h:form id="formPrincipal"> 
            <p:panel id="panel" header="Relatorio 3" style="margin-bottom:10px;">
                <br />
                <p:outputLabel value="Objetivo do relatorio:" />
                <br />
                <p:outputLabel value="Retornar o titulo de todos os livros em que o titulo começa com a letra 'A' (Uso do Like)" />
                <br />
                <br />
                <p:dataTable var="titulo" value="#{relatorioMB.query3}" id="table">
                    <p:column  headerText="Livros" >
                        <h:outputText value="#{titulo}" />
                    </p:column>                   
                </p:dataTable>
            </p:panel>
        </h:form>        

    </h:body>
</html>
